# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.onnx
# Piper TTS voices and binaries
backend/piper/
piper_voices/
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Android / Gradle
.gradle/
build/
local.properties
.idea/
*.iml
.DS_Store

# Jarvis / OS
temp_jarvis/
*.wav
*.log
mpvsocket

# Firebase & Secrets
backend/firebase-adminsdk.json
app/google-services.json

# Database
backend/piconsole.db
